:root {
  --root-font-family: Roboto, sans-serif;

  --Slider-padding: 0 1.875rem;

  --Button-font-size: 0.75rem;
  --Button-line-height: 3.4;
  --Button-padding: 0 1.875rem;

  --Header-height: 3rem;

  --Footer-height: 3rem;
}
